### Exploratory Data Analysis of Ridesharing Dataset

#### Overview:
This Jupyter notebook contains code and analysis for exploring the New York Ridesharing Dataset. The dataset comprises Ride Sharing Data, including time, longitute, latitude, and other relevant details.

#### Dataset Used:
- Dataset Name: New York City Ridesharing Dataset
- Source: https://www.kaggle.com/datasets/fivethirtyeight/uber-pickups-in-new-york-city

#### Objective:
The primary goal of this notebook is to perform exploratory data analysis (EDA) on the Uber Ridesharing Dataset. This includes:
- Data cleaning and preprocessing
- Merging data for training datasets
- Extracting insights and patterns from the data
- Rudementary visualizations for quick analysis

### Author:
- Name: Aden Letchworth
- Date: 12/17/2023

In [34]:
# Import Libraries

import pandas as pd
import plotly.express as px
import sys

# Custom Helper Functions

sys.path.append('../src')
from ..src import data_utils as ds

ImportError: attempted relative import with no known parent package

In [2]:
# Load Dataset(s)

df = pd.read_csv('../data/raw/uber-raw-data-sep14.csv')

In [3]:
df.head

<bound method NDFrame.head of                   Date/Time      Lat      Lon    Base
0          9/1/2014 0:01:00  40.2201 -74.0021  B02512
1          9/1/2014 0:01:00  40.7500 -74.0027  B02512
2          9/1/2014 0:03:00  40.7559 -73.9864  B02512
3          9/1/2014 0:06:00  40.7450 -73.9889  B02512
4          9/1/2014 0:11:00  40.8145 -73.9444  B02512
...                     ...      ...      ...     ...
1028131  9/30/2014 22:57:00  40.7668 -73.9845  B02764
1028132  9/30/2014 22:57:00  40.6911 -74.1773  B02764
1028133  9/30/2014 22:58:00  40.8519 -73.9319  B02764
1028134  9/30/2014 22:58:00  40.7081 -74.0066  B02764
1028135  9/30/2014 22:58:00  40.7140 -73.9496  B02764

[1028136 rows x 4 columns]>

In [4]:
print(df.columns)
print(df.dtypes)

Index(['Date/Time', 'Lat', 'Lon', 'Base'], dtype='object')
Date/Time     object
Lat          float64
Lon          float64
Base          object
dtype: object

In [5]:
print(f'Null Values: {df.isnull().any().any()}, NA Values: {df.isna().any().any()}')

Null Values: False, NA Values: False

In [6]:
df

                  Date/Time      Lat      Lon    Base
0          9/1/2014 0:01:00  40.2201 -74.0021  B02512
1          9/1/2014 0:01:00  40.7500 -74.0027  B02512
2          9/1/2014 0:03:00  40.7559 -73.9864  B02512
3          9/1/2014 0:06:00  40.7450 -73.9889  B02512
4          9/1/2014 0:11:00  40.8145 -73.9444  B02512
...                     ...      ...      ...     ...
1028131  9/30/2014 22:57:00  40.7668 -73.9845  B02764
1028132  9/30/2014 22:57:00  40.6911 -74.1773  B02764
1028133  9/30/2014 22:58:00  40.8519 -73.9319  B02764
1028134  9/30/2014 22:58:00  40.7081 -74.0066  B02764
1028135  9/30/2014 22:58:00  40.7140 -73.9496  B02764

[1028136 rows x 4 columns]

In [9]:
df['Date/Time'].value_counts

<bound method IndexOpsMixin.value_counts of 0            9/1/2014 0:01:00
1            9/1/2014 0:01:00
2            9/1/2014 0:03:00
3            9/1/2014 0:06:00
4            9/1/2014 0:11:00
                  ...
1028131    9/30/2014 22:57:00
1028132    9/30/2014 22:57:00
1028133    9/30/2014 22:58:00
1028134    9/30/2014 22:58:00
1028135    9/30/2014 22:58:00
Name: Date/Time, Length: 1028136, dtype: object>

#### Create Regex function for Isolating Date 

Notice: Taking Substrings wouldn't work correctly since the date is formatted '9/30/2014...' in some cases so we would have to take it in accordance to string length, however the suffix can be different sizes such as '0:01:00' and '22:57:00' making regex the simplest way of extracting the date.

In [30]:
df['Date'] = df['Date/Time'].apply(lambda x: find_date(x)).value_counts